version: '3.8'

services:

  mysqldb:

    image: mysql:8.0

    container_name: mysqldb

    restart: always

    environment:

      MYSQL_DATABASE: food_delivery_system

      MYSQL_ROOT_PASSWORD: root

    ports:

      - "3306:3306"
 
  food-delivery-system:

    build: .

    container_name: food-delivery-system

    restart: always

    depends_on:

      - mysqldb

    ports:

      - "8085:8085"

    environment:

      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/food_delivery_app

      - SPRING_DATASOURCE_USERNAME=root

      - SPRING_DATASOURCE_PASSWORD=root

      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
 